

.container{
    height: 1500px;
        /*Define the width of background banner to 100% width of webpage*/ 
    width: 100%;
        /*add a 25-pixel margin at bottom*/
    margin-bottom: 25px;
    background-color:#fde3f7;
 }

.h2{
    font-family: Glodman;
} 


 .row{
     height: 500px;
     width: 100%;
     font-family: Ubuntu;
     color: #0501078c;
 }

 .img-thumbnail{
     margin-left:30px;
 }

.img{
    margin-left:30px;
}

 .p{
     font-family: Ubuntu;
     font-size: 20px;
     text-align: center;
     margin-top: 50px;
     color: #0501078c;
 }

 .page-section{
     font-family: Goldman;
 }

 .icon{
     color:#e9baf5;
     position: absolute;
     left:48%;
 }

 .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#fde3f79c;
    color: dimgray;
    text-align: center;
    font-family: Goldman;
  }